    {% extends 'base.html' %}

        {% block body_block%}

        {% csrf_token %}
          <div class="form">
              <div class="row text-center">
                <div class="col-lg">
                  <form method='POST' action="{% url 'edit' task_id=dt.id %}" >
                    
                    <h4>ADD TASK :</h4>
                    <label>No:</label>
                    <input type="text" id="task" name="name" value="{{ dt.name }}" placeholder='name' >
                    <input type="text" id="task" name="task_text" value="{{ dt.task_text}}" placeholder='Add Task Here'>
                    <button class="add">ADD</button>
                  </form>
                </div>
              </div>
            </div>
  
          
          

        {%endblock%}
