.head{
    text-align: center;
    font-size: 50%;
    font-family: 'Courier New', Courier, monospace;
}
.table{
    text-align: center;
    
}
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    height: 50px;
    vertical-align: bottom;
}

